@model Super.Models.Hang
@{
    ViewData["Title"] = "innerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






            <div class="innerProduct">
                <div class="product-img">
                    <img class="inner-img" src="@Model.HinhAnh">
                    <h2 class="inner-desc product-info__heading">@Model.MoTa</h2>
                    
                </div>
           
                <div class="product-info" style="width: 50%;">
                    <h1 class="inner-heading product-info__heading">@Model.TenHang</h1>
                    <span class="inner-hagstag product-info__hastag">#@Model.MaNhanHieu</span>
                    <div class="inner-price product-info__price">
                        <span class="inner-infor__price product-info__price-new">Giá tiền: @Model.DonGiaHang đ</span>
                    </div>

                    <form action="/HoaDon/CapNhat" method="post">
                        <div class="mb-4">
                            <label for="soluong" class="inner-label form-label fw-bolder">Số lượng</label>
                            <input type="number" min="1" class="inner-input form-control" id="soluong" name="soluong" aria-describedby="text">
                        </div>
                        <hr class="inner-hr"/>
                        <div class="d-flex align-items-center justify-content-center my-5 gap-5">
                            <button type="submit" id="themgiohang" class="inner-btn btn btn-primary px-4 py-2" >Thêm vào giỏ hàng</button>
                        </div>
                    </form>




               
                </div>
         

          </div>
    @*    <partial name="_partialKhuyenMai" model="@Model.KMDB" />*@