@model Super.Models.Hang
@{
    ViewData["Title"] = "CapNhat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex justify-content-center">
    <div class="updatedata col-6 px-5 pt-5 border rounded-3 shadow-lg" style="margin-top: 100px">
        <h2 class="text-center fw-bold pb-4">Edit tin khoa</h2>
        <hr />
        <form action="/hang/cap-nhat" method="post">
            <div class="mb-4">
                <label for="makhoa" class="form-label fw-bolder">Mã Hàng</label>
                <input type="text" class="form-control" id="mahang" name="mahang" value="@Model.MaHang" aria-describedby="text">
            </div><div class="mb-4">
                <label for="makhoa" class="form-label fw-bolder">Tên Hàng</label>
                <input type="text" class="form-control" id="tenhang" name="tenhang" value="@Model.TenHang" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="tenkhoa" class="form-label fw-bolder">Đơn giá bán</label>
                <input type="text" class="form-control" id="dongiaban" name="dongiaban" value="@Model.DonGiaHang" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="manhanhieu" class="form-label fw-bolder">Mã Nhãn Hiệu</label>
                <input type="text" class="form-control" id="manhanhieu" name="manhanhieu" value="@Model.MaNhanHieu" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="sodienthoai" class="form-label fw-bolder">Link Hình Ảnh</label>
                <input type="text" class="form-control" id="hinhanh" name="hinhanh" value="@Model.HinhAnh" aria-describedby="text">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" @*checked="@((bool)Model.IsActive)"*@ name="kichhoat" id="kichhoat">
                <label class="form-check-label" for="kichhoat">
                    Kích hoạt
                </label>
            </div>
            <hr />
            <div class="d-flex align-items-center justify-content-center my-5 gap-5">
                <button type="submit" id="themgiohang" class="btn btn-primary px-4 py-2" >Edit</button>
            </div>
        </form>
    </div>
</div>

