@model Super.Models.Hang
@{
    ViewData["Title"] = "CapNhat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex justify-content-center">
    <div class="updatedata col-6 px-5 pt-5 border rounded-3 shadow-lg" style="margin-top: 100px">
        <h2 class="text-center fw-bold pb-4">Chỉnh sửa thông tin sản phẩm</h2>
        <hr />
        <form action="/hang/cap-nhat" method="post">
            <div class="mb-4">
                <label for="makhoa" class="form-label fw-bolder">Mã Hàng</label>
                <input type="text" class="form-control" id="mahang" name="mahang" value="@Model.MaHang" aria-describedby="text">
            </div><div class="mb-4">
                <label for="makhoa" class="form-label fw-bolder">Tên Hàng</label>
                <input type="text" class="form-control" id="tenhang" name="tenhang" value="@Model.TenHang" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="tenkhoa" class="form-label fw-bolder">Đơn giá bán</label>
                <input type="text" class="form-control" id="dongiaban" name="dongiaban" value="@Model.DonGiaHang" aria-describedby="text">
            </div>
            <div class="mb-4">
                <label for="manhanhieu" class="form-label fw-bolder">Mã Nhãn Hiệu</label>
                <input type="text" class="form-control" id="manhanhieu" name="manhanhieu" value="@Model.MaNhanHieu" aria-describedby="text">
            </div>
              <div class="mb-4">
                <label for="mota" class="form-label fw-bolder">Mô tả</label>
                <input type="text" class="form-control" id="mota" name="mota" value="@Model.MoTa" aria-describedby="text">
            </div>   
            <div class="mb-4">
                <label for="chungloai" class="form-label fw-bolder">Chủng loại</label>
                <input type="text" class="form-control" id="chungloai" name="chungloai" value="@Model.Src" aria-describedby="text">
            </div>
             <div class="mb-4">
                <label for="khuyenmai" class="form-label fw-bolder">Mã khuyến mại</label>
                <input type="text" class="form-control" id="khuyenmai" name="khuyenmai" value="@Model.Url" aria-describedby="text">
            </div>
           <div class="mb-4" hidden>
                <label for="imageurl" class="form-label fw-bolder" hidden>Mã nhãn hiệu</label>
                <input type="text" value="" class="form-control" id="imageurl" name="imageurl" aria-describedby="text" hidden>
            </div>
            <div class="mb-4">
                <label for="hinhanh" class="form-label fw-bolder">Link Hình Ảnh</label>
                <img src="" id="image" width="200" height="200" style="object-fit: cover" />
                <input type="file" onchange="chooseFile(this)" class="form-control" value="@Model.HinhAnh" id="hinhanh" name="hinhanh" aria-describedby="text">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" @*checked="@((bool)Model.IsActive)"*@ name="kichhoat" id="kichhoat">
                <label class="form-check-label" for="kichhoat">
                    Kích hoạt
                </label>
            </div>
            <hr />
            <div class="d-flex align-items-center justify-content-center my-5 gap-5">
                <button type="submit" id="themgiohang" class="btn btn-primary px-4 py-2" >Cập nhật</button>
            </div>
        </form>
    </div>
</div>

<script>
    
   
      function chooseFile(fileInput) 
         {
             console.log(fileInput.files[0])
            if (fileInput) 
            {
                
                 var reader = new FileReader();
                 reader.onload = function (e) {
                    
                 $('#image').attr('src', e.target.result)
                 $('#imageurl').attr('value', e.target.result)
                 
                     
                 }
                  reader.readAsDataURL(fileInput.files[0]);
                
                
               
            }
        }
   
</script>