
@model X.PagedList.IPagedList<Super.Models.NhanHieu>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc;

@using System.Web;
@using System.Net;
@using System.Text.Encodings.Web;
@using Microsoft.AspNetCore.Html;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .next-pre {
        margin-top: 35px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pagination > li {
        font-size: 1.1rem;
        padding: 3px 11px;
        border: 1px solid #ccc;
        background-color: #fb5533;
        color: #fff;
        border-radius: 5px;
    }
    img {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    }
    .header-searchbox-search {
            height: 50px;
    margin: 20px 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #fb5533;
    border-radius: 99px;
    }
    .header-search__input {
        border: none;
      outline: none;
    font-size: 1.2rem;
}
    .header-search__btn {
        font-size: 1.5rem;
    }
</style>

 <div class="header-searchbox-search">
                                <div class="header-search__input-wrap">
                                    <input type="text" class="header-search__input" placeholder="Tìm kiếm" id="searchInput">
     

                                       
                                   @* <div class="header-search__history">
                                        <h3 class="search__history-heading">Lịch sử tìm kiếm</h3>
                                        <ul class="search__history-list">
                                            <li class="search__history-item">
                                                <a href="">Quần hường</a>
                                            </li>
                                            <li class="search__history-item">
                                                <a href="">Áo tím mộng mơ</a>
                                            </li>
                                        </ul>
                                    </div>*@
                                </div>
                                <a href="" type="" class="header-search__btn">
                                    <i class="header-search-icon fas fa-search"></i>
                                </a>
                            </div>
<div class="quanly hide-on-mobile col l-10 m-12 s-12" style="margin: 20px auto;">
    <h1 class="quanlyds">Quản lý nhãn hiệu</h1>
    <table class="table table-striped overflow-scroll">
        <thead>
            <tr class="text-center">
                <th scope="col">STT</th>
                <th scope="col">Mã nhãn hiệu</th>
                <th scope="col">Tên nhãn hiệu</th>
                <th scope="col">Mã nhà cung cấp</th>
                <th scope="col">Trạng thái</th>
               
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody id="searchLists">
            @if (Model != null)
            {
                int i = 0;
                foreach (var item in Model)
                {
                    i++;
                    <tr class="supcua">
                        <td class="text-center"><div>@i</div></td>
                        <td class="text-center">@item.MaNhanHieu </td>
                        <td class="text-center">@item.TenNhanHieu</td>
                        <td class="text-center">@item.MaCungCap</td>                                             
                                                                  
                       @* <td class="text-center">@item.IsActive</td>   *@                                          
                          <td class="text-center @((bool)item.IsActive ? "text-success" : "text-danger")">
                @((bool)item.IsActive ? "kích hoạt" : "tạm khóa")
                </td>
                        <td class="text-center">
                            <a class="px-2" href="@Url.Action("Xoa", "NhanHieu", new { iden = item.MaNhanHieu, isActive = item.IsActive })">
                                <i class="fa @((bool)item.IsActive ? "text-danger"  : "text-success") @((bool)item.IsActive ? "fa-trash" :  "fa-recycle")" aria-hidden="true"></i>
                            </a>
                            <a class="px-2" href="@Url.Action("CapNhat", "NhanHieu", new { area = "Admin", iden = item.MaNhanHieu, isUpdate = false})">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <caption>
                    Không có dữ liệu
                </caption>
            }
        </tbody>
    </table>
    <div class="next-pre">@Html.PagedListPager(Model, page => Url.Action("Index","NhanHieu", new { page }))</div>
  
    <a class="btn btn-them nav-link text-dark" style="background: #ccc" asp-area="Admin" asp-controller="NhanHieu" asp-action="Them">
        <span style="color: #fff">Click vào đây để thêm nhãn hiệu</span>
    </a>
</div>
   

<script src="~/js/nhanhieusearch.js"></script>
